@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <h1>CodeQuiz</h1>
</div>
<div class="row">
    <div class="col-md-5">
        <h2>CodeQuiz</h2>
        <p>
            You can go ahead and explore our services
        </p>
    </div>   
</div>